

@model List<ResultProductDto>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Ürün Listesi</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ürün Resim /Ürün Adı</th>
                            <th scope="col">Ürün Stok</th>
                            <th scope="col">Ürün Fiyat</th>
                            <th scope="col">Kategori Adı</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="@item.ProductImageUrl">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">@item.ProductName</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @item.ProductStock
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.CategoryName

                                </td>
                                <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-warning">Sil</a></td>
                                <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <td><a href="/Product/CreateProduct/" class="btn btn-primary">Yeni Ürün Girişi</a></td>


        <div class="col text-center">
            <div class="block-27">
                <br />
               @*  @Html.PagedListPager((IPagedList)Model, page => Url.Action("ProductList", new { page }), new X.Web.PagedList.PagedListRenderOptions
           {
               ContainerDivClasses = new[] { "navigation" },
               LiElementClasses = new[] { "page-item" },
               PageClasses = new[] { "page-link" },
           }) *@
            </div>
        </div>
    </div>
</div>
</div>


