
@model List<ResultProductDto>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Ürün Listesi</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ürün Resim /Ürün Adı</th>
                            <th scope="col">Ürün Fiyat</th>
                            <th scope="col">Kategori Adı</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Detaylar</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="@item.ProductImageUrl">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">@item.ProductName</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.CategoryName

                                </td>
                                <td><a href="/Admin/Product/DeleteProduct/@item.Id" class="btn btn-warning">Sil</a></td>
                                <td><a href="Admin/Product/UpdateProduct/@item.Id" class="btn btn-info">Güncelle</a></td>
                                <td><a href="" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal1-@item.Id">Detaylar</a></td>
                            </tr>

                            <div class="modal" id="Modal1-@item.Id" tabindex="-1">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold"><b>@item.</b></h5><br />
                                        </div>
                                        <div class="modal-body">

                                            <img src="@item.ProductImageUrl" style="height:370px;" />
                                            <div class="card">
                                                <div class="card-header"><b>Ürün Özellikleri</b></div>
                                                <div class="card-body p-3">
                                                    <span class="caption"><b>Ürün Stok :</b> @item.ProductStock</span><br />
                                                    <span class="caption"><b>Ürün Kategori:</b> @item.CategoryName</span><br />
                                                    <span class="caption"><b>Ürün Fiyat:</b> @item.Price ₺</span><br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <td><a href="/Admin/Product/CreateProduct/" class="btn btn-primary">Yeni Ürün Girişi</a></td>


        <div class="col text-center">
            <div class="block-27">
                <br />
               @*  @Html.PagedListPager((IPagedList)Model, page => Url.Action("ProductList", new { page }), new X.Web.PagedList.PagedListRenderOptions
           {
               ContainerDivClasses = new[] { "navigation" },
               LiElementClasses = new[] { "page-item" },
               PageClasses = new[] { "page-link" },
           }) *@
            </div>
        </div>
        
    </div>
</div>
</div>


