@model List<ResultAddressDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">İletişim bilgileri Listesi</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Şehir</th>
                            <th scope="col">Ülke</th>
                            <th scope="col">Adres Detayı</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Email</th>
                            <th scope="col">Web sitesi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="mb-0 text-sm">@item.Id</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @item.City
                                    </td>
                                    <td>
                                        @item.Country
                                    </td>
                                    <td>
                                        @item.AddressDetail
                                    </td>
                                    <td>
                                        @item.PhoneNumber
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            @item.WebSite
                                        </span>
                                    </td>
                                    <td>
                                        <a href="/Admin/Address/DeleteAddress/@item.Id" class="btn btn-outline-danger">Sil</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Address/UpdateAddress/@item.Id" class="btn btn-outline-warning">Güncelle</a>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            if (ViewBag.Message != null)
                            {
                                <h3 class="alert alert-warning">@* @ViewBag.Message *@</h3>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <a href="/Admin/Address/CreateAddress" class="btn btn-outline-primary">Yeni Sosyal Medya Hesabı Girişi</a>
            </div>
        </div>
    </div>
</div>

